
form {
    padding: 20px;
    margin: 10px auto;
    border-style: solid;
    border-color: black;
    width: 800px;
    background-color: rgb(171, 171, 156);
}

.configPanel { 
    margin-bottom: 15px;
}

.configPanel_header {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #bfcbf6;
   
}

.configPanel_selectedConfiguration {
    background-color: #e0e6fb;
    padding: 10px;
}
